# WordPress template
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-admin/
wp-content/cache/
wp-content/cache.old/
wp-content/et-cache/
wp-content/languages/
wp-content/mu-plugins/
wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/Divi/
wp-content/themes/twentynineteen/
wp-content/w3tc-config/
wp-content/wflogs/
wp-includes/

index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# dependencies
/node_modules

# local env files
env.js

# IntelliJ
.idea/

# MacOS
.DS_Store

