### WordPress template
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-admin/
wp-config.php
wp-config-sample.php
wp-content/
wp-includes/

/readme.html
/license.txt


# Allow
wp-content/themes/Divi Child

# IDE files
.idea
.DS_Store