### WordPress template
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-admin/
wp-config.php
wp-config-sample.php
wp-content/cache/
wp-content/cache.old/
wp-content/et-cache/
wp-content/languages/
wp-content/mu-plugins/
wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/Divi/
wp-content/themes/twentynineteen/
wp-content/w3tc-config/
wp-content/wflogs/
wp-includes/

/readme.html
/license.txt

# IDE files
.idea
.DS_Store